@import "../../css/global.scss";
.Topbar {
    @include absolute(fixed, 0, 0);
    @include transition(0.5s);
    height: var(--topbar-height);
    color: var(--main-color);
    width: 100%;
    background-color: transparent;
    z-index: 201;
    justify-content: space-between;
}
.ButtonsContainer {
    @include flex(center,space-between);
    height: 100%;
    width: 95%;
    margin: 0 auto;
}
.solid {
    background-color: var(--main-background);
    box-shadow: 1px 0 5px var(--main-color);
    color: var(--secondary-color);
}
.cart {
    @include flex(center,space-between);
    height: 100%;
    color: var(--main-background);
    transition: all 0.5s;
}
.cart svg:hover,
.MenuIcon:hover {
    cursor: pointer;
    opacity: 0.7;
}
.cart svg {
    margin-left: 20px;
    color: var(--main-background);
}
.solid svg,
.MenuIcon {
    color: var(--main-color);
}

@media (max-width: 768px) {
    .MenuIcon {
        color: var(--main-background) !important;
    }
    .solid .MenuIcon {
        color: var(--main-color) !important;
    }
}
