@import '../../css/global.scss';
.Button{
    @include transition(.5s);
    @include flex(center, center);
    border: none;
    padding: 10px;
    background-color: var(--main-color);
    color: var(--main-background);
    border-radius: 3px;
}
.Button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.Button:active{
    opacity: 1;
}
.Button a{
    color: var(--main-background);
    text-decoration: none;
}
.transparent{
    background-color: transparent;
    color: var(--main-color);
}
.transparent a{
    color: var(--main-color);
}
.fullwidth{
    width: 80%;
}
.Button:disabled{
    cursor: not-allowed;
}

.Button:disabled:hover{
    opacity: 1;
}

.Button span{
    margin: 0 10px;
}