.ProductsContainer{
    min-height: 45vh;
}
.emptyCart{
    height: 60vh;
    display: flex;
    align-items: center;
}
.emptyCart img{
    width: 60%;
    margin: 0 auto;
}
.emptyMessageContainer{
    display: flex;
    justify-content: center;
}
.expandButton{
    padding: 20px;
    background-image: linear-gradient(#ffffff, #f5f5f5);;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expandButton:hover{
    cursor: pointer;
}