.OrderNotFound {
    text-align: center;
    height: 100%;
}
.OrderNotFound p{
    color : rgb(126, 126, 126);
    line-height:1.5rem;
}
.OrderNotFound a{
    background: none;
    color: #333;
    font-size: initial;
    text-decoration: underline;
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer img {
    width: 65%;
}