.CheckoutForm{
    margin-bottom: 5vh;
    transition: all 0.5s;
}
.CheckoutForm form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 25px;
    justify-content: space-between;
}
.CheckoutForm form input{
    text-transform: uppercase;
}
.CheckoutForm form button{
    grid-column-start: 1;
    grid-column-end: 2;
}