.Home {
    height: inherit;
}

.homeImage {
    /* height: 100%;
    width: calc(100vw - 280px);
    margin-left: 280px;
    filter: brightness(50%);
    object-fit: cover; */
}

.ImageContainer {
    width: calc(100vw - 280px);
    margin-left: 280px;
    filter: brightness(50%);
    object-fit: cover;
    height: 100vh;
    background: url(../../img/main-img-1200.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ProductsContainer {
    height: fit-content;
}

.Products {
    width: calc(100vw - 280px);
    margin-left: 280px;
}

@media screen and (max-width:1200px) and ( max-height : 800px) {
    .ImageContainer {
        background: url(../../img/main-img-1200.jpg);
    }
}

@media screen and (max-width:1200px) and ( min-height : 800px) {
    .ImageContainer {
        background: url(../../img/main-img-1200-800.jpg);
    }
}

@media screen and (max-width:1025px) and ( max-height : 800px) {
    .ImageContainer {
        background: url(../../img/main-img-1025.jpg);
    }
}

@media screen and (max-width:1025px) and ( min-height : 800px) {
    .ImageContainer {
        background: url(../../img/main-img-1025-800.jpg);
    }
}

@media screen and (max-width:768px) {
    .Products, .homeImage, .ImageContainer {
        width: 100%;
        margin-left: 0;
    }
}