.Popup{
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    background-color: var(--main-color);
    padding: 1.5em;
    border-radius: 10px;
    color: var(--main-background);
    z-index: 300;
}

.closed{
    animation: close 0.5s forwards;
}
.opened{
    animation: open 0.5s forwards;
}

@media screen and (max-width : 768px){
    .Popup{
        width: 80%;
    }
}

@keyframes open{
    0%{
        transform: translate(-50%, -200%);
    }
    80%{
        transform: translate(-50%, 50%);
    }
    100%{
        transform: translate(-50%, 0);
    }
}


@keyframes close{
    0%{
        transform: translate(-50%, 0);
    }
    20%{
        transform: translate(-50%, 50%);
    }
    100%{
        transform: translate(-50%, -200%);
    }
}