.NavLinkButton{
    text-decoration: none;
    color: var(--main-background);
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
}
.transparent{
    color: var(--main-color);
    background-color: transparent;
}

.NavLinkButton:hover{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    background-color: var(--main-background);
    color: var(--main-color);
}
.transparent:hover{
    opacity: 0.6;
}