.OrderCustomer{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-transform: capitalize;
}
.OrderCustomer div{
    justify-content: center;
    display: grid;
}

.DataContainer:first-of-type{
    justify-content: start;
    text-align: left;
    border-right: 1px solid rgba(200, 200, 200, 0.6);
}
.DataContainer:last-of-type{
    justify-content: end;
    text-align: end;
}
@media (max-width : 768px){
    .OrderCustomer{
        grid-template-columns: 100%;
    }
    .OrderCustomer div{
        justify-content: start;
        border: none;
    }
    .DataContainer:first-of-type{
        border: none;
    }
    .DataContainer:last-of-type{
        justify-content: start;
        text-align: left;
    }

}