.Spinner svg{
    color: var(--main-background);
}
.SpinnerContainer p{
    color: #fff;
    text-align: center;
}
.SpinnerContainer{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.SpinnerContainer span{
    margin: 0 auto;
}
.AbsolutePosition{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
}
.dark svg{
    color: #333;
}
.dark p{
    color: #333;
}
.small{
    width : 20px !important;
    height : 20px !important;
}