.Spinner svg{
    color: var(--main-background);
}
.SpinnerContainer p{
    color: #fff;
}
.SpinnerContainer span{
    margin: 0 auto;
}
.dark svg{
    color: #333;
}
.dark p{
    color: #333;
}
.small{
    width : 20px !important;
    height : 20px !important;
}