.Input{
   width: 100%;
   margin: 10px auto;
   padding: 5px 0 ;
   border: 1px solid rgba(200, 200, 200, 0.7);
   display: flex;
   align-items: center;
   transition: all 0.5s;
   border-radius: 5px;
}
.fullwidth{
    grid-column-start: 1;
    grid-column-end: 3;
}
.Input svg{
    margin: 0 10px;
}
.Input input{
    border: none;
    outline: none;
    text-transform: capitalize;
}
.valid{
    border: 1px solid #333333;
}
.invalid{
    border: 1px solid red;
}


.Input.invalid:focus-within{
    border: 1px solid red;
}
.Input.valid:focus-within{
    border: 1px solid #333333;
}
.Input:focus-within input{
    border: none;
}
