.ErrorPage{
    margin-top: 5vh;
    max-height: 90vh;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ErrorPage img{
    width: 50%;
    display: none;
}
.ErrorPage p{
    color: #666666;
}
.ErrorPage button{
    margin: 0 auto;
}